# Dependencies
node_modules/
*/node_modules/

# Environment files
.env
*.env
.env.*
auth-backend/.env
front-end/.env

# Other files to ignore
*.sqlite
*.sqlite3
*.db
.DS_Store
Thumbs.db
.vercel
.next
